<!--<div class="card-white">
  <h3>{{id ? 'Edit' : 'Create'}} Item</h3>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row g-3">
      <div class="col-md-6"><label class="form-label">Name</label><input class="form-control" formControlName="itemName"></div>
      <div class="col-md-6"><label class="form-label">SKU</label><input class="form-control" formControlName="skuCode"></div>
      <div class="col-md-4"><label class="form-label">Qty</label><input class="form-control" type="number" formControlName="qty"></div>
      <div class="col-md-4"><label class="form-label">Cost</label><input class="form-control" type="number" formControlName="costPrice"></div>
      <div class="col-md-4"><label class="form-label">MSRP</label><input class="form-control" type="number" formControlName="msrpPrice"></div>
      <div class="col-md-6">
        <label class="form-label">Warehouse</label>
        <select class="form-select" formControlName="warehouseId">
          <option *ngFor="let w of warehouses" [value]="w.id">{{w.name}}</option>
        </select>
      </div>
      <div class="col-12"><button class="btn btn-primary">Save</button></div>
    </div>
  </form>
</div>-->
